body{
    font-family: "Arial", Helvetica, sans-serif;
}

fieldset {
    border: 0;
}

#userform{
    padding-left: 0px;
    padding-right: 850px;
}

#users{
    margin-bottom: 15px;
    border-collapse: collapse;
}

th {
    height: 50px;
    width: 100px;
}